
@font-face {font-family: roboto;src: url(../fonts/roboto/Roboto-Regular.ttf);}
@font-face {font-family: robotoLight;src: url(../fonts/roboto/Roboto-Light.ttf);}
@font-face {font-family: geometos;src: url(../fonts/geometos/Geometos.ttf);}
@font-face {font-family: openSans;src: url(../fonts/openSans/OpenSans-Regular.ttf);}
.navBar{
	position: fixed;
	display: block;
	width:100%;
	background-color: white;
}
.navContainer{
	display: flex;
  	justify-content: space-between;
    left:0;
    right:0;
    margin: 0 auto;
	width:800px;
	font-family: roboto;
}
.navLink{
	color:#39A0ED;
	padding: 20px 0;
	text-align: center;
	display: block;
	width:100%;
	border-bottom: 3px solid transparent;
	background-color: transparent;
	transition:background 0.3s;
	transition:color 0.3s;
	transition:border 0.3s;
}
.navLink:hover{
	border-bottom: 3px solid rgba(6,119,205, 1);
	color:rgba(6,119,205, 1);
	background-color: rgba(6,119,205, 0.07);
}
.navItem{
	display: inline-block;
}
.page{
	height: 100vh;
}
#intro{
	display: flex;
    flex-direction: column;
    justify-content: center;
	color:#39A0ED;
}
/*Block sem sér um að stíla mismunadi síðurnar*/
#about{
	background-color: #39A0ED;
	color:white;
}
.about{
	background-color: #39A0ED;
	color:white;
}
.rules{
	color:#39A0ED;
}
#preperation{
	background-color: #39A0ED;
}
.preperation{
	background-color: #39A0ED;
	color:white;
}
.signup{
	color:#39A0ED;
}
/*Síðublock lokið*/
.name{
	text-align: center;
	font-size: 4em;
	font-family: geometos;
}
.title{
	padding-top: 2%;
	text-align: center;
	font-size: 2em;
	font-family: geometos
}
@media only screen and (max-width:53.125em) { 
	
}
/*Hérna koma stýlar eingögnu fyrir formið*/
.form-input{
	display: block;
	width:96%;
	border:0;
	font-size: 1.5em;
	background-color: #39A0ED;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
}
.form-input:focus{
	outline: 0;
}
.formContainer{
	width:800px;
	margin: 5% auto;
}
#go{
	margin:0 2%;
	display: block;
	border:0;
	font-size: 1.5em;
	background-color: #39A0ED;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
}
#go:hover{
	background-color: #0677CD;
}
#go:focus{
	outline: 0;
}
#go:active{
	background-color: #034273;
}
/**/
::-webkit-input-placeholder {
   color: #DCDCDC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #DCDCDC;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DCDCDC;  
}

:-ms-input-placeholder {  
   color: #DCDCDC;  
}
/*Custom radio buttons eru versta krabbameinið*/
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  font-family: robotoLight;
  font-size: 1.5em;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

input[type="radio"] + label span {
  background-color: #DCDCDC;
}

input[type="radio"]:checked + label span {
  background-color: white;
  color:white;
}
/*Þetta eru meiri stýlar fyrir radiotakka*/
.labelControl{
	display: inline-block;
	color:#DCDCDC;
	vertical-align: middle;
	/*padding-top: 3px;*/
}
.radioContainerContainer{
	display: block;
	width:96%;
	border:0;
	font-size: 1em;
	background-color: #39A0ED;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
	display: flex;
	justify-content:space-around;
}
.radioContainer{
	display: inline-block;
}

/*Hér eru sér stýlar fyrir efni á síðuni*/
.contentContainer{
	width:800px;
	margin:2% auto 0;
	font-family: openSans;
	font-size: 1.2em;
	line-height: 1.5em;
}
.important{
	color: black;
	/*font-style: italic;*/
	/*text-decoration: underline;*/
}